<span *ngFor="let dep of depService.deps, let i = index">
  <span *ngIf="dep.vis">
      <h2>{{dep.title}}</h2>
<ul>
        <span *ngFor="let rec of recService.recs, let i = index">

           <li *ngIf="rec.depId == dep.id">
              <table>
                <tr>
                  <td class="position">{{posService.getPositionTitle(rec.posId)}}</td>
                  <td class="name"> {{rec.name}}</td>
                  <td class="phone">{{rec.phoneW}}</td>
                  <td class="phone">{{rec.phoneWM}}</td>
                  <td class="phone">{{rec.phone}}</td>
                </tr>
              </table>
           </li>

        </span>
  </ul>
    </span>
  </span>

