h3 {
  text-align: center;
  margin-bottom: 0;
  color: darkblue;
  line-height: 80%
}

hr {

}

.position {
  width: 15rem;
}

.name {
  width: 40rem;
}

.phone {
  width: 43rem;
}

.buts {
  width: 2rem;
  vertical-align: bottom;
}

.phoneW {
  font-size: 1.2rem;
  color: darkred;
}

.phoneWM {
  font-weight: bold;
  font-size: 0.8rem;
  color: darkblue;
}

.phoneM {
  font-weight: bold;
  font-size: 0.8rem;
  color: darkgreen;
}

table {
  height: 2rem;
}

td {
  padding: 0;
  margin: 0;
  //border-style: solid;
  //border-radius: 2px;
  //border-color: darkgrey;
}

ul {
  //border-style: solid;
  //border-radius: 2px;
  //border-color: darkgrey;
}

li {
  list-style-type: none !important;
}

.rm {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: 0.3rem;
  $color: firebrick;
  border-radius: 50%;
  border-style: solid;
  border-color: lighten($color, 30%);
  background: $color;
  color: #fff;
  font-size: 1rem;
  width: 25px;
  height: 25px;
  transition: .3s all;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: darken($color, 20%);
  }
}

.rd {
  margin-top: -0.5rem;
  margin-bottom: -0.4rem;
  margin-left: 0.3rem;
  $color: green;
  border-radius: 50%;
  border-style: solid;
  border-color: lighten($color, 10%);
  background: $color;
  color: #fff;
  font-size: 1rem;
  width: 25px;
  height: 25px;
  transition: .3s all;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: darken($color, 20%);
  }
}

