.Container {

  width:100%;
  margin: 0 auto;
  span{
    font-size: 200%;
  }

  h1 {
    color: darkblue;
    margin-top: 1rem;
    line-height: 80%

  }
  #map {
    width:20%;

  }
  #main {
    width:55%;
  }
  #forms {
    width:25%;
  }
  td {
    border-style: solid;
    border-radius: 2px;
    border-color: darkgrey;
  }
}
